 .u-section-1 {
  min-height: 884px;
}

.u-section-1 .u-shape-1 {
  width: 1229px;
  height: 936px;
  margin: -209px calc(((100% - 1140px) / 2) + -245px) 0 auto;
}

.u-section-1 .u-shape-2 {
  height: 882px;
  margin-top: -726px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-3 {
  width: 1229px;
  height: 936px;
  margin: -936px auto 0 calc(((100% - 1140px) / 2) + -412px);
}

.u-section-1 .u-group-1 {
  width: 479px;
  min-height: 660px;
  height: auto;
  margin: -863px calc(((100% - 1140px) / 2) + -10px) 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 439px;
  height: 236px;
  margin: 20px 303px 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -175px auto 0 114px;
}

.u-section-1 .u-group-2 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: 369px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: 33px auto 0;
}

.u-section-1 .u-shape-5 {
  width: 283px;
  height: 124px;
  margin: -93px auto 0;
}

.u-section-1 .u-shape-6 {
  width: calc(((100% - 1140px) / 2) + 401px);
  height: 422px;
  margin: -660px auto 0 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 451px;
  height: 422px;
  margin: -170px calc(((100% - 1140px) / 2) + -148px) 0 auto;
}

.u-section-1 .u-shape-7 {
  width: 451px;
  height: 422px;
}

.u-section-1 .u-group-3 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: -13px auto 0 calc(((100% - 1140px) / 2) + 54px);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-shape-8 {
  width: 283px;
  height: 124px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: -89px auto 0;
}

.u-section-1 .u-group-4 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: -137px calc(((100% - 1140px) / 2) + 81px) 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-shape-9 {
  width: 283px;
  height: 124px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: -89px auto 0;
}

.u-section-1 .u-image-1 {
  width: 605px;
  height: 422px;
  object-position: 50% 0%;
  margin: -661px auto 0 calc(((100% - 1140px) / 2) + 216px);
}

.u-section-1 .u-group-5 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: -44px auto 0 calc(((100% - 1140px) / 2) + 54px);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-shape-10 {
  width: 283px;
  height: 124px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: -89px auto 0;
}

.u-section-1 .u-group-6 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 406px);
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: 33px auto 0;
}

.u-section-1 .u-shape-11 {
  width: 283px;
  height: 124px;
  margin: -93px auto 0;
}

.u-section-1 .u-group-7 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: -287px auto 60px calc(((100% - 1140px) / 2) + 406px);
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: 33px auto 0;
}

.u-section-1 .u-shape-12 {
  width: 283px;
  height: 124px;
  margin: -93px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 940px) / 2) + -412px);
  }

  .u-section-1 .u-group-1 {
    min-height: 661px;
    margin-right: calc(((100% - 940px) / 2) + -9px);
    height: auto;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 101px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 564px;
    margin-right: 12px;
    margin-bottom: -174px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 940px) / 2) + 401px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -238px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 188px);
  }

  .u-section-1 .u-shape-7 {
    margin: 12px calc(((100% - 940px) / 2) + -95px) 60px auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 92px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -269px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -541px;
    margin-left: calc(((100% - 940px) / 2) + 118px);
  }

  .u-section-1 .u-group-5 {
    margin-top: -14px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: 5px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-7 {
    margin-top: -271px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + -9px);
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 720px) / 2) + 401px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 720px) / 2) + 188px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 720px) / 2) + -95px);
    margin-bottom: 1px;
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 115px);
  }

  .u-section-1 .u-group-5 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 839px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + -9px);
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 540px) / 2) + 401px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 540px) / 2) + 89px);
  }

  .u-section-1 .u-shape-7 {
    margin-right: calc(((100% - 540px) / 2) + -95px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 377px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-5 {
    margin-top: 31px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 699px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-6 {
    width: calc(((100% - 340px) / 2) + 401px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-7 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-top: -13px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 237px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-5 {
    margin-left: calc(((100% - 340px) / 2));
  }
}