 .u-section-1 {
  min-height: 884px;
}

.u-section-1 .u-shape-1 {
  width: 1229px;
  height: 936px;
  margin: -209px calc(((100% - 1140px) / 2) + -245px) 0 auto;
}

.u-section-1 .u-shape-2 {
  height: 882px;
  margin-top: -726px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-3 {
  width: 1229px;
  height: 936px;
  margin: -936px auto 0 calc(((100% - 1140px) / 2) + -411px);
}

.u-section-1 .u-group-1 {
  width: 479px;
  min-height: 660px;
  margin: -691px calc(((100% - 1140px) / 2) + 33px) 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 439px;
  height: 236px;
  margin: 20px 303px 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -175px auto 0 114px;
}

.u-section-1 .u-shape-5 {
  width: 451px;
  height: 422px;
  margin: -825px auto 0 calc(((100% - 1140px) / 2) + -22px);
}

.u-section-1 .u-rotation-parent-1 {
  width: 451px;
  height: 422px;
  margin: -144px calc(((100% - 1140px) / 2) + -11px) 0 auto;
}

.u-section-1 .u-shape-6 {
  width: 451px;
  height: 422px;
}

.u-section-1 .u-group-2 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 217px);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-7 {
  width: 283px;
  height: 124px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: -89px auto 0;
}

.u-section-1 .u-group-3 {
  width: 296px;
  min-height: 133px;
  height: auto;
  margin: -133px calc(((100% - 1140px) / 2) + 237px) 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-shape-8 {
  width: 283px;
  height: 124px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 228px;
  margin: -89px auto 0;
}

.u-section-1 .u-image-1 {
  width: 490px;
  height: 429px;
  margin: -562px auto 0 calc(((100% - 1140px) / 2) + 285px);
}

.u-section-1 .u-shape-9 {
  width: 20px;
  height: 19px;
  margin: -308px auto 60px calc(((100% - 1140px) / 2) + 506px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 940px) / 2) + -411px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -748px;
    margin-right: calc(((100% - 940px) / 2) + -9px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 101px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: -768px;
    margin-left: calc(((100% - 940px) / 2) + -22px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -218px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 224px);
  }

  .u-section-1 .u-shape-6 {
    margin: 12px calc(((100% - 940px) / 2) + -95px) 60px auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 23px;
    margin-right: calc(((100% - 940px) / 2) + 95px);
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -129px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 133px);
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -574px;
    margin-left: calc(((100% - 940px) / 2) + 196px);
  }

  .u-section-1 .u-shape-9 {
    margin-top: -307px;
    margin-left: calc(((100% - 940px) / 2) + 420px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + -9px);
  }

  .u-section-1 .u-shape-5 {
    margin-left: calc(((100% - 720px) / 2) + -22px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 720px) / 2) + 224px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 720px) / 2) + -95px);
    margin-bottom: 1px;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + 95px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -104px;
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 720px) / 2) + 133px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -104px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 196px);
  }

  .u-section-1 .u-shape-9 {
    margin-left: calc(((100% - 720px) / 2) + 420px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + -9px);
  }

  .u-section-1 .u-shape-5 {
    margin-left: calc(((100% - 540px) / 2) + -22px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 540px) / 2) + 89px);
  }

  .u-section-1 .u-shape-6 {
    margin-right: calc(((100% - 540px) / 2) + -95px);
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 540px) / 2) + 95px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 540px) / 2) + 133px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-1 .u-shape-9 {
    margin-left: calc(((100% - 540px) / 2) + 420px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 649px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 318px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 340px) / 2) + 44px);
  }

  .u-section-1 .u-group-3 {
    margin-left: calc(((100% - 340px) / 2) + 44px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 298px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-9 {
    margin-top: -176px;
    margin-left: calc(((100% - 340px) / 2) + 320px);
  }
}