 
.classmain .u-section-1 {
  min-height: 983px;
}

.classmain .u-section-1 .u-shape-1 {
  width: 1229px;
  height: 936px;
  margin: -135px calc(((100% - 1140px) / 2) + -422px) 0 auto;
}

.classmain .u-section-1 .u-group-1 {
  background-image: none;
  width: 248px;
  min-height: 169px;
  margin: -320px auto 0 calc(((100% - 1140px) / 2) + 309px);
}

.classmain .u-section-1  .u-container-layout-1 {
  padding: 0;
}

.classmain .u-section-1  .u-image-1 {
  width: 227px;
  height: 148px;
  margin: 0 0 0 auto;
}

.classmain .u-section-1  .u-group-2 {
  background-image: none;
  width: 248px;
  min-height: 169px;
  margin: -167px calc(((100% - 1140px) / 2) + 300px) 0 auto;
}

.classmain .u-section-1  .u-container-layout-2 {
  padding: 9px 2px;
}

.classmain .u-section-1  .u-image-2 {
  width: 237px;
  height: 150px;
  margin: 0 4px -21px;
}

.classmain .u-section-1  .u-group-3 {
  background-image: none;
  width: 248px;
  min-height: 169px;
  margin: -169px calc(((100% - 1140px) / 2) + 15px) 0 auto;
}

.classmain .u-section-1  .u-container-layout-3 {
  padding: 3px 0;
}

.classmain .u-section-1  .u-image-3 {
  width: 234px;
  height: 152px;
  margin: 4px auto 0;
}

.classmain .u-section-1  .u-image-4 {
  background-image: url("images/image2.png");
  width: 248px;
  min-height: 169px;
  margin: -416px auto 0 calc(((100% - 1140px) / 2) + 307px);
}

.classmain .u-section-1  .u-container-layout-4 {
  padding: 5px 0;
}

.classmain .u-section-1  .u-group-5 {
  background-image: none;
  width: 248px;
  min-height: 169px;
  margin: -169px calc(((100% - 1140px) / 2) + 300px) 0 auto;
}

.classmain .u-section-1  .u-container-layout-5 {
  padding: 9px 1px;
}

.classmain .u-section-1  .u-image-5 {
  width: 238px;
  height: 151px;
  margin: 0 4px -21px;
}

.classmain .u-section-1  .u-group-6 {
  background-image: none;
  width: 248px;
  min-height: 169px;
  margin: -169px calc(((100% - 1140px) / 2) + 15px) 0 auto;
}

.classmain .u-section-1  .u-container-layout-6 {
  padding: 10px 2px;
}

.classmain .u-section-1  .u-image-6 {
  width: 237px;
  height: 148px;
  margin: 0 4px -20px;
}

.classmain .u-section-1  .u-shape-2 {
  width: 1104px;
  height: 105px;
  margin: -311px calc(((100% - 1140px) / 2) + -86px) 0 auto;
}

.classmain .u-section-1  .u-group-7 {
  width: 401px;
  background-image: linear-gradient(#f1b5b8, #db545a);
  min-height: 182px;
  margin: 478px auto 0 calc(((100% - 1140px) / 2) + 309px);
}

.classmain .u-section-1  .u-container-layout-7 {
  padding: 30px 0;
}

.classmain .u-section-1  .u-text-1 {
  font-size: 3.75rem;
  margin: 0 24px;
}

.classmain .u-section-1  .u-group-8 {
  width: 412px;
  background-image: linear-gradient(#f9e79b, #adf6f2);
  min-height: 186px;
  margin: -183px calc(((100% - 1140px) / 2) + 9px) 0 auto;
}

.classmain .u-section-1  .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.classmain .u-section-1  .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 0 0 29px;
}

.classmain .u-section-1  .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -623px auto 0 calc(((100% - 1140px) / 2) + 28px);
}

.classmain .u-section-1  .u-group-9 {
  width: 227px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 92px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2) + 28px);
}

.classmain .u-section-1  .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.classmain .u-section-1  .u-text-4 {
  font-size: 3rem;
  margin: 0 auto;
}

.classmain .u-section-1  .u-shape-3 {
  width: 227px;
  height: 85px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 28px);
}

.classmain .u-section-1  .u-text-5 {
  font-size: 3rem;
  margin: -81px auto 0 calc(((100% - 1140px) / 2) + 86px);
}

.classmain .u-section-1  .u-group-10 {
  width: 227px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 85px;
  margin: 28px auto 0 calc(((100% - 1140px) / 2) + 28px);
}

.classmain .u-section-1  .u-container-layout-10 {
  padding: 0 30px;
}

.classmain .u-section-1  .u-text-6 {
  font-size: 3rem;
  margin: 0 auto -22px 29px;
}

.classmain .u-section-1  .u-group-11 {
  width: 227px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 85px;
  margin: 28px auto 0 calc(((100% - 1140px) / 2) + 28px);
}

.classmain .u-section-1  .u-container-layout-11 {
  padding: 0 30px;
}

.classmain .u-section-1  .u-text-7 {
  font-size: 3rem;
  margin: 0 auto -22px 29px;
}

.classmain .u-section-1  .u-group-12 {
  width: 227px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 85px;
  margin: 28px auto 0 calc(((100% - 1140px) / 2) + 28px);
}

.classmain .u-section-1  .u-container-layout-12 {
  padding: 4px 30px;
}

.classmain .u-section-1  .u-text-8 {
  font-size: 3rem;
  margin: 0 1px;
}

.classmain .u-section-1  .u-image-7 {
  width: 640px;
  height: 51px;
  margin: -855px auto 778px 0;
}

@media (max-width: 1199px) {
   .classmain .u-section-1  {
    min-height: 1289px;
  }

  .classmain .u-section-1  .u-shape-1 {
    margin-top: -131px;
    margin-right: calc(((100% - 940px) / 2) + -418px);
  }

  .classmain .u-section-1  .u-group-1 {
    margin-top: -369px;
    margin-left: calc(((100% - 940px) / 2) + 250px);
  }

  .classmain .u-section-1  .u-group-2 {
    margin-top: -170px;
    margin-right: calc(((100% - 940px) / 2) + 195px);
  }

  .classmain .u-section-1  .u-group-3 {
    width: calc(((100% - 940px) / 2) + 198px);
    margin-top: -168px;
    margin-right: 0;
  }

  .classmain .u-section-1  .u-image-4 {
    margin-top: -363px;
    margin-left: calc(((100% - 940px) / 2) + 248px);
  }

  .classmain .u-section-1  .u-group-5 {
    margin-right: calc(((100% - 940px) / 2) + 195px);
  }

  .classmain .u-section-1  .u-container-layout-5 {
    padding: 7px 0;
  }

  .classmain .u-section-1  .u-image-5 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .classmain .u-section-1  .u-group-6 {
    width: calc(((100% - 940px) / 2) + 198px);
    margin-right: 0;
  }

  .classmain .u-section-1  .u-container-layout-6 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .classmain .u-section-1  .u-image-6 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .classmain .u-section-1  .u-shape-2 {
    width: 940px;
    margin-top: -343px;
    margin-right: calc(((100% - 940px) / 2) + -121px);
  }

  .classmain .u-section-1  .u-group-7 {
    width: 365px;
    min-height: 126px;
    margin-top: 463px;
    margin-left: calc(((100% - 940px) / 2) + 251px);
  }

  .classmain .u-section-1  .u-text-1 {
    width: auto;
  }

  .classmain .u-section-1  .u-group-8 {
    width: calc(((100% - 940px) / 2) + 321px);
    min-height: 129px;
    margin-top: -128px;
    margin-right: 0;
  }

  .classmain .u-section-1  .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 4px;
    margin-left: -34px;
    margin-right: -34px;
  }

  .classmain .u-section-1  .u-text-3 {
    width: auto;
    margin-top: -603px;
    margin-left: calc(((100% - 940px) / 2) + -31px);
  }

  .classmain .u-section-1  .u-group-9 {
    min-height: 85px;
    margin-top: 3px;
    margin-left: calc(((100% - 940px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-text-4 {
    margin-top: 3px;
  }

  .classmain .u-section-1  .u-shape-3 {
    margin-top: 28px;
    margin-left: calc(((100% - 940px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-text-5 {
    width: auto;
    margin-top: -85px;
    margin-left: calc(((100% - 940px) / 2) + 46px);
  }

  .classmain .u-section-1  .u-group-10 {
    margin-top: 37px;
    margin-left: calc(((100% - 940px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-text-6 {
    width: auto;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 25px;
  }

  .classmain .u-section-1  .u-group-11 {
    margin-left: calc(((100% - 940px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-container-layout-11 {
    padding-right: 40px;
  }

  .classmain .u-section-1  .u-group-12 {
    width: 236px;
    min-height: 81px;
    margin-left: calc(((100% - 940px) / 2) + -17px);
  }

  .classmain .u-section-1  .u-text-8 {
    width: auto;
    margin: 3px 15px -47px;
  }

  .classmain .u-section-1  .u-image-7 {
    margin-top: -826px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .classmain .u-section-1  {
    min-height: 1042px;
  }

  .classmain .u-section-1  .u-shape-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .classmain .u-section-1  .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 250px);
  }

  .classmain .u-section-1  .u-group-2 {
    margin-right: calc(((100% - 720px) / 2) + 195px);
  }

  .classmain .u-section-1  .u-group-3 {
    width: calc(((100% - 720px) / 2) + 198px);
  }

  .classmain .u-section-1  .u-image-3 {
    width: 198px;
    height: 129px;
  }

  .classmain .u-section-1  .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 248px);
  }

  .classmain .u-section-1  .u-group-5 {
    margin-right: calc(((100% - 720px) / 2) + 195px);
  }

  .classmain .u-section-1  .u-image-5 {
    margin-right: 305px;
    margin-left: 4px;
  }

  .classmain .u-section-1  .u-group-6 {
    width: calc(((100% - 720px) / 2) + 198px);
  }

  .classmain .u-section-1  .u-image-6 {
    width: 194px;
    height: 121px;
    margin-right: 21px;
    margin-left: 4px;
  }

  .classmain .u-section-1  .u-shape-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .classmain .u-section-1  .u-group-7 {
    margin-left: calc(((100% - 720px) / 2) + 251px);
  }

  .classmain .u-section-1  .u-text-1 {
    margin-left: 215px;
  }

  .classmain .u-section-1  .u-group-8 {
    width: calc(((100% - 720px) / 2) + 321px);
  }

  .classmain .u-section-1  .u-container-layout-8 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .classmain .u-section-1  .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + -31px);
  }

  .classmain .u-section-1  .u-group-9 {
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .classmain .u-section-1  .u-shape-3 {
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-text-5 {
    margin-left: calc(((100% - 720px) / 2) + 46px);
  }

  .classmain .u-section-1  .u-group-10 {
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-group-11 {
    margin-left: calc(((100% - 720px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-container-layout-11 {
    padding-right: 30px;
  }

  .classmain .u-section-1  .u-group-12 {
    margin-left: calc(((100% - 720px) / 2) + -17px);
  }
}

@media (max-width: 767px) {
   .classmain .u-section-1  {
    min-height: 975px;
  }

  .classmain .u-section-1  .u-shape-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .classmain .u-section-1  .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 250px);
  }

  .classmain .u-section-1  .u-group-2 {
    margin-right: calc(((100% - 540px) / 2) + 195px);
  }

  .classmain .u-section-1  .u-group-3 {
    width: calc(((100% - 540px) / 2) + 198px);
  }

  .classmain .u-section-1  .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 248px);
  }

  .classmain .u-section-1  .u-group-5 {
    margin-right: calc(((100% - 540px) / 2) + 195px);
  }

  .classmain .u-section-1  .u-image-5 {
    margin-right: 302px;
  }

  .classmain .u-section-1  .u-group-6 {
    width: calc(((100% - 540px) / 2) + 198px);
  }

  .classmain .u-section-1  .u-shape-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .classmain .u-section-1  .u-group-7 {
    margin-left: calc(((100% - 540px) / 2) + 175px);
  }

  .classmain .u-section-1  .u-text-1 {
    margin-left: 161px;
  }

  .classmain .u-section-1  .u-group-8 {
    width: calc(((100% - 540px) / 2) + 321px);
  }

  .classmain .u-section-1  .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + -31px);
  }

  .classmain .u-section-1  .u-group-9 {
    margin-left: calc(((100% - 540px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .classmain .u-section-1  .u-shape-3 {
    margin-left: calc(((100% - 540px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-text-5 {
    margin-left: calc(((100% - 540px) / 2) + 46px);
  }

  .classmain .u-section-1  .u-group-10 {
    margin-left: calc(((100% - 540px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .classmain .u-section-1  .u-text-6 {
    margin-left: 86px;
  }

  .classmain .u-section-1  .u-group-11 {
    margin-left: calc(((100% - 540px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .classmain .u-section-1  .u-group-12 {
    margin-left: calc(((100% - 540px) / 2) + -17px);
  }

  .classmain .u-section-1  .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .classmain .u-section-1  .u-image-7 {
    width: 540px;
    height: 43px;
  }
}

@media (max-width: 575px) {
   .classmain .u-section-1  {
    min-height: 959px;
  }

  .classmain .u-section-1  .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .classmain .u-section-1  .u-group-1 {
    margin-left: calc(((100% - 340px) / 2) + 92px);
  }

  .classmain .u-section-1  .u-group-2 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
  }

  .classmain .u-section-1  .u-group-3 {
    width: calc(((100% - 340px) / 2) + 198px);
  }

  .classmain .u-section-1  .u-image-4 {
    margin-left: calc(((100% - 340px) / 2) + 92px);
  }

  .classmain .u-section-1  .u-group-5 {
    margin-right: calc(((100% - 340px) / 2) + 92px);
  }

  .classmain .u-section-1  .u-image-5 {
    margin-right: 102px;
  }

  .classmain .u-section-1  .u-group-6 {
    width: calc(((100% - 340px) / 2) + 198px);
  }

  .classmain .u-section-1  .u-shape-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .classmain .u-section-1  .u-group-7 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .classmain .u-section-1  .u-text-1 {
    margin-right: 17px;
    margin-left: 101px;
  }

  .classmain .u-section-1  .u-group-8 {
    width: calc(((100% - 340px) / 2) + 321px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .classmain .u-section-1  .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + -31px);
  }

  .classmain .u-section-1  .u-group-9 {
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-shape-3 {
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-text-5 {
    margin-left: calc(((100% - 340px) / 2) + 46px);
  }

  .classmain .u-section-1  .u-group-10 {
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-group-11 {
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .classmain .u-section-1  .u-group-12 {
    margin-left: calc(((100% - 340px) / 2) + -17px);
  }

  .classmain .u-section-1  .u-image-7 {
    width: 340px;
    height: 27px;
  }
}